<form method="post" action="/pre/in2">
  <div class="form-group">
    <label for="name">名前</label>
    <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="れい：くまだ まさし">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div><!-- email-->

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="mail" aria-describedby="emailHelp" placeholder="れい：masashi@gmail.com">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div><!-- email-->

  <div class="form-group">
    <label for="pss">Password</label>
    <input type="text" class="form-control" name="pss" placeholder="れい：12345">
  </div>

  <div class="form-group">
    <label for="item">title</label>
 <select class="form-control" name="item">
  <option value="555">tms-555</option>
  <option value="666">tms-666</option>
</select> 
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
