      <div class="card" id="siz1">
      <div class="card-header">
  </div><!-- head -->
      <div class="card-body">
          名前: <%= bod.name %><br>
          商品: <%= bod.item %><br>
          数量: <%= bod.unit %><br>

  </div>  <!-- body -->
  </div>  <!-- card -->
