<form method="post" action="pre2">
  <div class="form-group">
    <label for="name">名前</label>
    <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="れい：くまだ まさし">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div><!-- email-->

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="mail" aria-describedby="emailHelp" placeholder="れい：masashi@gmail.com">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div><!-- email-->

  <div class="form-group">
    <label for="pss">Password</label>
    <input type="text" class="form-control" name="pss" placeholder="れい：12345">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
