<!DOCTYPE html>
<html>
<%include base/head %>
<body>
<%include nav/nav%>
<img class="img-fluid" src="img/main2.jpg" width="1600px" height="auto">
<br><br>
<div class="container-fluid">
<div class="row">
<div class="col-md-12" style="background-color:white">

<hr>



<b>★Rev:robeに関するお知らせは<a href="/page-info" target="_blank">こちら</a><br></b>


  
</div><!--col12-->
</div><!-- row end -->
</div><!--container-->

<br>
<br>

<div class="footer"><% include base/foot %></div>

</body>
</html>
