<!DOCTYPE html>
<html>
<%include base/head %>
<body>
<%include nav/nav%>
<img class="img-fluid" src="img/main2.jpg" width="1600" >

<div class="container-fluid">
<div class="row">
<div class="col-lg-12">
  
</div><!--col12-->
</div><!-- row end -->

</div><!--container-->

<div class="footer"><% include base/foot %></div>
</body>
</html>
