.font1 {
  font-family: "Syltaen,serif";
  color: black;
  font-size: 1px;
}

@media and (-webkit-min-device-pixel-ratio:0) {
  div{top:10;} 

.img-responsive{
width:"1920";

}
.chr{

    background-color:red;
}

}

.img1{
background-image:url("../img/main2.jpg");
background-color:red;
background-repeat:no-repeat;
background-size:cover;
width:1600px;
height:1040px;
position:relative;
}


