<!DOCTYPE html>
<html>
<% include par/head %>
<% include par/nav %>
<body>

<div class="container-fluid">
<div class="row">

    <div class="col-md-2" id="gra">
<% include par/left %>
</div><!-- col2-->

<div class="col-md-10" id="pin">

10

</div><!-- col10-->


</div><!--row-->
</div><!-- /container -->
</body>

