<!DOCTYPE html>
<html>
<% include par/head %>
<% include par/nav %>
<body>

<div class="container-fluid">
<div class="row">

<div class="col-md-3" style="color:black">

<% include par/left %>

</div><!-- col2-->

<div class="col-md-9" style="color:black">
    <br>
    <% if(usr) {%>


    <% } %>


</div><!-- col10-->


</div><!--row-->
</div><!-- /container -->
</body>

