<!DOCTYPE html>
<html>
<%include par/head %>
<body>
<%include nav/nav%>

<div class="container-fluid">
<div class="row">
<div class="col-lg-12" style="background-color:white">
<br><br>
<span class="badge badge-info">これでよろしいですか?</span><br> 
<% include par/in2 %>
<br>
</div><!--col12-->
</div><!-- row end -->

</div><!--container-->

<div class="footer"><% include base/foot %></div>


</body>
</html>
