<h4><div class="label label-default" style="color:black">ログイン</div></h4>

<span style="color:black">
<form action="/adm/sel2" method="post">
E-mail:<br><input id="mail" type="email" name="mail"  size="15"><br>
Password:<br><input id="pss" type="text" name="pss" value="" size="15"><br><br>
<button type="submit" class="btn btn-default">LOG IN</button>
</form>
</span>


